<template>

  <div>

    <div class='d-flex'>
      <sidenav :dataSet='dataSet'></sidenav>

      <secondnav v-if='dataSet.showsecondnav' :dataSet='dataSet'></secondnav>

      <main class='maindiv d-flex flexmaindiv flow-column'>
        <!-- Fixed header content================= -->
        <fixedheaders :dataSet='dataSet'></fixedheaders>

        <!-- Above work area======================= -->
          <div class='mt-8 ml-2 w600'>
            <div class='authentification'>
              
              Google: <button v-if='!googleAuthStatus()' @click="handleAuthClick" class="btn btn-primary btn-sm">Connect</button>
              <button v-if='googleAuthStatus()' @click="handleSignoutClick" class="btn btn-danger btn-sm">Disconnect</button>
            </div>
          </div>
          <!-- <hr> -->
          <button v-if='googleAuthStatus()' @click="getData" class="btn btn-success">Get Data</button>
          <div class="item-container" v-if="googleAuthStatus() && items">
            <pre v-html="items"></pre>
          </div>

      </main>
    </div>
  </div>
</template>

<script>


export default {
  data: function () {
    return {

      dataSet: {
        eachCheckbox: [],
        search:'',
        showaddnew: false,
        mainSidenav: true,
        settingsSidenav: false,
        showsecondnav: false,
        aboveWorkAreaMsg: false,
        loading:true,
        dummyRows: 10,
        heading1:'Settings',
        path: '/settings',
        toastMsg: 'Authenticated',
      },
      form: new Form({
        shelf_no:'',
      }),
    }
  },

  created() {
    
    this.handleClientLoad();
    // this.getData();
  },

  methods: {
    
    /**
     * Print the summary and start datetime/date of the next ten events in
     * the googleAuthStatus user's calendar. If no events are found an
     * appropriate message is printed.
     */
    getData() {
      // let vm = this;

      gapi.client.calendar.events.list({
        'calendarId': 'primary',
        'timeMin': (new Date()).toISOString(),
        'showDeleted': false,
        'singleEvents': true,
        'maxResults': 50,
        'orderBy': 'startTime'
      }).then(response => {
        this.items = this.syntaxHighlight(response.result.items);
        // console.log(vm.items);
      });
    },

    syntaxHighlight(json) {
      if (typeof json != 'string') {
        json = JSON.stringify(json, undefined, 2);
      }
      json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
      return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, match => {
        var cls = 'number';
        if (/^"/.test(match)) {
          if (/:$/.test(match)) {
            cls = 'key';
          } else {
            cls = 'string';
          }
        } else if (/true|false/.test(match)) {
          cls = 'boolean';
        } else if (/null/.test(match)) {
          cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
      });
    }
  }
}
</script>
