* {
    margin: 0px;
    padding: 0px;
}

.logo {
    /* width: 110px !important; */
    /* padding: 2px 0px; */
    padding: 5px 0px;
    width: 1.5em !important;
}

.nopadding {
    padding: 0px !important;
}
.ui.left.popup.transition.visible:before{
    width:0 !important;
    background:none !important;
}
/* Sidenav====================================== */

.sidenav {
    bottom: 0;
    top: 47px;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 0;
    color: #353535;
    width: 200px;
    padding-right: 10px;
    height: 595px;
    background: #e4e4e4;
}


.stickynav {
    position: fixed;
    top: 45px;
    /* More than height of topnav */
    width: inherit;
    height: 100%;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 105px;
    float: left;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.secondsidenav {
    width: 280px;
}

.secondstickynav {
    background: white !important;
    box-shadow: none !important;
    width: inherit;
    border-right: thin solid #dee2e6;
}

.secondstickynav tr {
    cursor: pointer;
}

.secondstickynav .router-link-exact-active {
    background: #f7f7f7;
    font-weight: bold;
    cursor: auto;
    color: black !important;
}

.pointer {
    cursor: pointer;
}

.nav-link {
    color: #353535;
}
.sidenav li{
    border-top:thin solid rgb(212, 211, 211);
} 
.navtext {
    padding-left: 5px;
}

.greybg {
    background: #f7f7f7 !important;
}

.sidenav ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left:0px;
}

.sidenav ul li {
    padding: 10px 5px 10px 14px;
    font-size: 100%;
}

.sidenav-heading {
    font-size: 75%;
    text-transform: uppercase;
    margin-left: 14px;
    margin-top: 15px;
    color: #6c757d;
    font-weight: normal;
}

.dropdownicon {
    float: right !important;
    margin-top: 4px !important;
}

.navtogglediv {
    width: inherit;
    background: #ececec;
    position: fixed;
    bottom: 0px;
    padding: 10px 18px 10px 0px;
    text-align: right;
    border-top: thin solid #dcdcdc;
    border-right: thin solid #dcdcdc;
}

.navtogglediv .button {
    border: thin solid lightgrey;
}

.submenu li {
    padding: 5px 5px 10px 30px !important;
}

/* Sidenav scroll================================*/
/* width */
.stickynav::-webkit-scrollbar {
    width: 5px;
}

/* Track */

/* Handle */
.stickynav::-webkit-scrollbar-thumb {
    background: lightgrey;
}

/* Handle on hover */
.stickynav::-webkit-scrollbar-thumb:hover {
    background: #c3c2c2;
}


/* Second Sidenav scroll================================*/
/* width */
.secondstickynav::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.secondstickynav::-webkit-scrollbar-track {
    background-color: #f7f7f7;
    /* box-shadow: inset 0 0 5px grey; */
    /* border-radius: 10px; */
}

/* Handle */
.secondstickynav::-webkit-scrollbar-thumb {
    background: lightgrey;
}

/* Handle on hover */
.secondstickynav::-webkit-scrollbar-thumb:hover {
    background: #c3c2c2;
}



/* ============================ */

.maindiv {
    
    flex-grow: 1;
    width: 300px;
    margin-left: 5px;
}
.bg-bisq{
    background: bisque !important;
}
.workarea .icon {
    color: #888;
}

/*Fixed header==============================*/

.d-flex {
    display: flex !important;
}
.ui.placeholder {
    max-width: 100rem;
}
.ui.avatar.image,
.ui.avatar.image img,
.ui.avatar.image svg,
.ui.avatar.images .image,
.ui.avatar.images img,
.ui.avatar.images svg {
    width: auto !important;
    height: auto !important;
}

.d-inblock {
    display: inline-block !important;
}

.rightaligned {
    text-align: right !important;
}

.leftaligned {
    text-align: left !important;
}

.vtop {
    vertical-align:top !important;
}

.ui.table {
    border-radius: 0px;
    flex-grow: 1;
    width: 100%;
}
.nodataimage{
    background-image: url(/nodatafound.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
    opacity: 0.2;
}
.flow-column {
    flex-flow: column;
}

.border-lr-0 {
    border-left: 0 !important;
    border-right: 0 !important;
}

.fixedheader h1 {
    font-weight: 400;
    display: inline-flex;
    margin-bottom: 0px;
}

.flex_start {
    flex: 1;
    justify-content: flex-start;
}

.flex_end {
    flex: 1;
    justify-content: flex-end;
}

.addnewbutton {
    vertical-align: super !important;
    margin-left: 10px !important;
}

.aboveworkarea {
    padding: 0px 15px;
}

.nomargin {
    margin: 0px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mr0 {
    margin-right: 0px !important;
}

.ml0 {
    margin-left: 0px !important;
}

.m0 {
    margin: 0px !important;
}


.mt50 {
    margin-top: 50px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mr50 {
    margin-right: 50px !important;
}

.ml50 {
    margin-left: 50px !important;
}

.m50 {
    margin: 50px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mr40 {
    margin-right: 40px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.m40 {
    margin: 40px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.m30 {
    margin: 30px !important;
}


.mt25 {
    margin-top: 25px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.mr25 {
    margin-right: 25px !important;
}

.ml25 {
    margin-left: 25px !important;
}

.m25 {
    margin: 25px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.m20 {
    margin: 20px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.m15 {
    margin: 15px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.m10 {
    margin: 10px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.ml5 {
    margin-left: 5px !important;
}

.m5 {
    margin: 5px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.pb0 {
    padding-bottom: 0px !important;
}

.pr0 {
    padding-right: 0px !important;
}

.pl0 {
    padding-left: 0px !important;
}

.p0 {
    padding: 0px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.p10 {
    padding: 10px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.p15 {
    padding: 15px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.p20 {
    padding: 20px !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.pr25 {
    padding-right: 25px !important;
}

.pl25 {
    padding-left: 25px !important;
}

.p25 {
    padding: 25px !important;
}

.bbnone {
    border-bottom: none !important;
}

.btnone {
    border-top: none !important;
}

.blnone {
    border-left: none !important;
}

.brnone {
    border-right: none !important;
}


/*------------Rishab's code------------------*/

.w50 {
    width: 50px !important;
}
.w70 {
    width: 70px !important;
}
.w100 {
    width: 100px !important;
}
.w130 {
    width: 130px !important;
}

.w150 {
    width: 150px !important;
}

.w180 {
    width: 180px !important;
}

.w200 {
    width: 200px !important;
}

.w250 {
    width: 250px !important;
}

.w300 {
    width: 300px !important;
}

.w400 {
    width: 400px !important;
}

.w500 {
    width: 500px !important;
}

.w600 {
    width: 600px !important;
}

.redtext {
    color: #db2828 !important;
}

.required_star {
    color: #db2828 !important;
    font-size: 130%;
}

.bglightgrey {
    background: #f5f5f5 !important;
}

.vendortypelabel {
    vertical-align: super !important;
}

.tinytext {
    font-size: 12px;
}

.underline {
    text-decoration: underline;
}

.secondstickynav table {
    border-left: none !important;
    border-right: none !important;
}

.ui.checkbox {
    vertical-align: text-top;
}

.secondsidenav h2 {
    font-weight: 400;
}

.editfixedheader {
    border-bottom: none;
    padding-bottom: 0px;
}

.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .active.item:hover {
    border-color: #2185d0;
    color: #2185d0;
}

.card-heading {
    font-weight: 700 !important;
    font-size: 1.1rem !important;
    background: #f7f7f7 !important;
}

.floatright {
    float: right;
}

.secondstickynav .fixedheader {
    top: 0px
}


.sidenav .router-link-exact-active {
    color: #0060dc;
}

a {
    color: #0060dc;
}

.fixedheader .menu .router-link-exact-active {
    border-bottom: 2px solid #2185d0 !important;
    color: #2185d0 !important;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.boldtext {
    font-weight: bolder !important;
}

.ui.fullscreen.modal {
    left: auto !important;
}

/*------------Quote / Invoice Format------------------*/
#invoicecontent .ui.table tr th, #invoicecontent .ui.table tr td {
    padding: 0.5em 0.5em !important;
}

#invoicecontent {font-size: 13px;}

.quotation_format {
    box-shadow: 0 0 1mm rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.quote_logo {
    max-width: 200px;
    max-height: 110px;
}

.quote_header {
    font-size: 26px;
}

.addnewbtndropdown {
    border-top: 1px solid rgba(34, 36, 38, .1) !important;
}

#dropdownwithaddnew {
    position: relative;
}

#dropdownwithaddnew option {
    position: relative;
}

.dropdownaddnewbtn .menu .item:last-child {
    position: sticky !important;
    bottom: 0 !important;
    border-top: thin solid lightgrey !important;
    background-color: #f7f7f7 !important;
    font-weight: bold;
    z-index: 1000;
}

.ui.form .field label {
    display: block;
    margin: 0 0 .28571429rem 0;
    color: rgba(0, 0, 0, .87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}

.ui.inverted.blue.menu,
.ui.inverted.menu .blue.active.item {
    background: #0060dc;
}

.table_action_btn {
    display: inline-block;
    opacity: 0.7;
    border-radius: 50px;
    border: thin solid lightgrey;
    font-size: 60%;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.table_action_btn:hover {
    opacity: 1;
}

.table_action_btn .icon {
    margin: 0px;
    margin-top: -1px;
}



.blue_icon {
    color: #0060dc;
    border-color: #0060dc !important;
}

.red_icon {
    color: #db2828;
    border-color: #db2828 !important;
}

pre {
    font-family: inherit;
}

.muted {
    color: #888;
}

.pretag {
    white-space: pre-wrap;
}

.addnewlink {
    font-size: 11px;
}
.sidenavcheckbox{
    vertical-align: top !important;
    margin-top: 2px;
}
.sidenavcheckboxtd{
    max-width: 10px !important;
    margin: 0px !important;
    border-right: none !important;
    /* padding-top: 10px !important;
    padding-left: 2px !important;
    padding-right: 0px !important; */
}
.sidenavtexttd{
    border-left: none !important;
}
.greytext{
    color: grey;
}
.editorboxdiv {
    border: thin solid lightgrey;
    padding: 5px;
    border-radius: 3px;
}

ul {
    margin-left: 30px;
}

.multitableinput, .smalldatebox input[type=text] {
    height: 30px !important;
    font-size: 11px !important;
    padding: 6px !important;
}

.table tr {vertical-align: top !important;}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
.swal_ul{
    margin: auto !important;
    width: fit-content !important;
    text-align: left !important;
}

.vendor_filter_td_icons .table_action_btn .icon {
    margin-top: 4px;
}

.whiteborder {
    cursor: auto;
    border-color:white !important;
}
input[type="text"]:disabled,input[type="number"]:disabled,select:disabled {
  background: #efefef !important;
}

.pdfonly {
    display: none;
}
.ui.multiple.search.dropdown>input.search{
    width:unset;
}

.floatright {float:right !important;}

.secondnavcelltext {
    max-width: 215px !important;
}

.whitespacenormal {
    white-space: normal;
}

.paginationdiv {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.whitespacepre {
    white-space: pre;
}

.verticaltop {
    vertical-align: top !important;
}

.fullwidth {
    width: 100%;
}

@media print {

    .sidenav {
        display: none;
    }
    .topnav {
        display: none !important;
    }

    @page {
        size: auto !important;   /* auto is the initial value */
        margin: 0mm !important;  /* this affects the margin in the printer settings */
    }

    @page :footer {
        display: none !important;
    }

    @page :header {
        display: none !important;
    }

    .quotation_format {
        box-shadow: none;
    }

    .fixedheader {
        display: none;
    }

    .printnone {display: none !important;}

}


