<template>
  <div>
    <div class='d-flex'>
      <sidenav :dataSet='dataSet'></sidenav>
      

      <main class='maindiv d-flex flexmaindiv flow-column'>
        <!-- Fixed header content================= -->
        <fixedheaders :dataSet='dataSet'></fixedheaders>
        <!-- Above work area======================= -->

        <!-- Work area============================== -->
        
        <div class="input-group mb-3 w600">
          <datepicker pla ceholder="Due date" v-model="timeMin" :bootstrap-styling="true"></datepicker>
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">to</span>
          </div>
          <datepicker pla ceholder="Due date" v-model="timeMax" :bootstrap-styling="true"></datepicker>

          <button v-if='!googleAuthStatus()' class="btn btn-info" @click="handleAuthClick">Connect to google</button>
          <button v-if='googleAuthStatus()' @click="getData" class="btn btn-success">Get Data</button>
        </div>
        <div :class="issuedbooks.length<1?'nodataimage':null">
          <table v-show="issuedbooks.length>0 && googleAuthStatus()" class='table table-striped selectable'>
            <thead>
              <tr>
                <th v-for='(tableheading,index) in dataSet.tblHeadings' :key='index' v-html='tableheading'></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for='(issuedbook,index) in issuedbooks' :key='index'>
                
                <td v-if="issuedbook.extendedProperties!=undefined">{{issuedbook.extendedProperties.shared.book_name}}</td>
                <td v-else>--</td>
                <td v-if="issuedbook.extendedProperties!=undefined">{{issuedbook.extendedProperties.shared.user_name}}</td>
                <td v-else>--</td>
                <td>{{issuedbook.created | myDate("Asia/Kolkata","MMM D, YYYY")}}</td>
                <td>{{issuedbook.start.date | myDate("Asia/Kolkata","MMM D, YYYY")}}</td>
                <td>
                  <input type='button' class='btn btn-primary btn-sm' value='Return' @click='deleteEvent(index,issuedbook.extendedProperties.shared.book_transaction_id,issuedbook.id)'>
                  <input type='button' class='btn btn-info btn-sm' value='Extend' @click='extendBook(index,issuedbook)'>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

<!-- extension date modal -->
<div class="modal fade" id="extendDueDate" tabindex="-1" role="dialog" aria-labelledby="extendDueDateLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="extendDueDateLabel">Extend due date for book:'{{extending_book}}', user: '{{extending_user}}'</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Current due date: {{extending_duedate | myDate("Asia/Kolkata","MMM D, YYYY")}}<br>
        New due date: <datepicker placeholder="New due date" v-model="extending_newduedate" :bootstrap-styling="true"></datepicker>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" @click='updateEvent(forupdate_event_id,forupdate_book_transaction_id)'>Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- extension date modal -->

      </main>
    </div>
  </div>
</template>
<script>
  export default {
    data: function () {
      return {
        selectAll:false,
        fetchedRows: [],
        libraryusers:[],
        issuedbooks:[],
        extending_book:'',
        extending_user:'',
        extending_duedate:'',
        extending_newduedate:this.getDefaultMaxTime(),
        forupdate_event_id:'',
        forupdate_book_transaction_id:'',
        forupdate_eventdetails:[],
        timeMin:this.getDefaultMinTime(),
        timeMax:this.getDefaultMaxTime(),
        dataSet: {
          eachCheckbox: [],
          search:'',
          showSearch:true,
          showImportExport:false,
          showaddnew: false,
          mainSidenav: true,
          settingsSidenav: false,
          showsecondnav: false,
          aboveWorkAreaMsg: false,
          loading:true,
          dummyRows: 10,
          heading1:'Book Return',
          path: '/isrt',
          tblHeadings: [
           'Title', 'User',	'Issue date',	'Due date', '',	
          ],
        },
      }
    },
    created() {
      this.handleClientLoad();
      this.allLibraryUsers('/alllibraryusers');
    },
    mounted() {
      var self= this
      setTimeout(function(){
          if(self.googleAuthStatus()){
            self.getData()
          } 
      }, 1000);
    },
    methods: {
      extendBook(index,issuedbook){
        this.extending_book=issuedbook.extendedProperties.shared.book_name,
        this.extending_user=issuedbook.extendedProperties.shared.user_name,
        this.extending_duedate=(new Date(issuedbook.start.date)).toISOString()
        this.forupdate_book_transaction_id=issuedbook.extendedProperties.shared.book_transaction_id
        this.forupdate_event_id=issuedbook.id
        this.forupdate_eventdetails=issuedbook
        $("#extendDueDate").modal('show');
      },
      getDefaultMinTime() {
          var myCurrentDate=new Date();
          var myMinDate=new Date(myCurrentDate);
              myMinDate.setDate(myMinDate.getDate()- 10);
          return myMinDate;
      },
      getDefaultMaxTime() {
          var myCurrentDate=new Date();
          var myMaxDate=new Date(myCurrentDate);
              myMaxDate.setDate(myMaxDate.getDate()+ 10);
          return myMaxDate;
      },
      getData() {
        this.$Progress.start();
        gapi.client.calendar.events.list({
          'calendarId': 'primary',
          'timeMin': this.timeMin.toISOString(),
          'timeMax': this.timeMax.toISOString(),
          'showDeleted': false,
          'singleEvents': true,
          // 'maxResults': 50,
          'q': 'Book due date',
          'orderBy': 'startTime',
        }).then(response => {
          // this.items = this.syntaxHighlight(response.result.items);
          this.issuedbooks = response.result.items;
          this.$Progress.finish();
          // console.log(vm.items);
        });
      },
      deleteEvent(index,book_transaction_id,event_id){
        this.$Progress.start();
        gapi.client.calendar.events.delete({
          'calendarId': 'primary',
          'eventId': event_id,
          'sendUpdates': 'all',
        }).then(response => {
          this.returnBook(index,book_transaction_id)
        });
      },
      returnBook(index,transaction_id){
            
            axios.post('/api' +'/return-book/'+transaction_id)
                .then(({
                    data
                }) => {
                    
                    toast.fire({
                        type: 'success',
                        title: 'Book returned',
                    })
                    this.$Progress.finish();
                    this.getData();
                })
                .catch((error) => {
                    this.$Progress.fail();
                    // this[errorStoringVar] = error;

                    if (error.response.status == 401) {
                        this.$router.push('/loginf');
                    } else {
                        new Swal({
                            type: 'error',
                            title: swalTitle,
                            text: error,
                            showCloseButton: true,
                            showConfirmButton: false,
                            footer: '<a href=' + issueReportinglink + '>Report this issue</a>'
                        })
                    }
                });
        },
        updateEvent(event_id,book_transaction_id){
          this.$Progress.start();
          
          var events = {
            'summary': this.forupdate_eventdetails.summary,
            'location': this.forupdate_eventdetails.location,
            'description': this.forupdate_eventdetails.description,
            'start': {
              'date': this.changeDateFormat(this.extending_newduedate, "Asia/Kolkata","YYYY-MM-DD")
              // 'dateTime': this.extending_newduedate.toISOString()
            },
            'end': {
              'date': this.changeDateFormat(this.extending_newduedate, "Asia/Kolkata","YYYY-MM-DD")
            },
            "extendedProperties": this.forupdate_eventdetails.extendedProperties
          };
          gapi.client.calendar.events.update({
            'calendarId': 'primary',
            'eventId': event_id,
            'resource': events,
            'sendUpdates': 'all',
          }).then(response => {
            this.updateTransaction(book_transaction_id)
          });
        },
        updateTransaction(transaction_id){
              
              axios.put('/api' +'/update-duedate/'+transaction_id,{
                due_date: this.changeDateFormat(this.extending_newduedate, "Asia/Kolkata","YYYY-MM-DD"),
              })
              .then(({
                  data
              }) => {
                  
                $("#extendDueDate").modal('hide');
                  toast.fire({
                      type: 'success',
                      title: 'Due date extended',
                  })
                  this.$Progress.finish();
                  this.getData();
              })
              .catch((error) => {
                  this.$Progress.fail();
                  // this[errorStoringVar] = error;

                  if (error.response.status == 401) {
                      this.$router.push('/loginf');
                  } else {
                      new Swal({
                          type: 'error',
                          title: swalTitle,
                          text: error,
                          showCloseButton: true,
                          showConfirmButton: false,
                          footer: '<a href=' + issueReportinglink + '>Report this issue</a>'
                      })
                  }
              });
          },
    }

  }
</script>
