<template>
  <div>
    <div class='d-flex'>
      <sidenav :dataSet='dataSet'></sidenav>
      

      <main class='maindiv d-flex flexmaindiv flow-column'>
        <!-- Fixed header content================= -->
        <fixedheaders :dataSet='dataSet'></fixedheaders>
        <!-- Above work area======================= -->
        

        <!-- Work area============================== -->
        
        <div class="input-group mb-3 w600">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Select User</span>
          </div>
          <select class="form-control" v-model="selecteduserfortransaction">
            <option v-for='libraryuser in libraryusers' :key='libraryuser.id' :value='libraryuser.id'>{{libraryuser.name}}</option>
          </select>
        </div>
        <div :class="issuedbooks.length<1?'nodataimage':null">
          <table v-show="issuedbooks.length>0" class='table table-striped selectable'>
            <thead>
              <tr>
                <th v-for='(tableheading,index) in dataSet.tblHeadings' :key='index' v-html='tableheading'></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for='(issuedbook,index) in issuedbooks' :key='index'>
                
                <td v-if="issuedbook.bookdetail!=undefined">{{issuedbook.bookdetail.title}}</td>
                <td v-else>--</td>
                <td v-if="issuedbook.bookdetail!=undefined">{{issuedbook.bookdetail.isbn}}</td>
                <td v-else>--</td>
                <td>{{issuedbook.issue_date | myDate("Asia/Kolkata","MMM D, YYYY")}}</td>
                <td>{{issuedbook.due_date | myDate("Asia/Kolkata","MMM D, YYYY")}}</td>
                <td><input type='button' class='btn btn-primary btn-sm' value='Return' @click='returnBook(index,issuedbook.id)'></td>
              </tr>
            </tbody>
          </table>
        </div>

<!-- pagination -->

      </main>
    </div>
  </div>
</template>
<script>
  export default {
    data: function () {
      return {
        selectAll:false,
        fetchedRows: [],
        libraryusers:[],
        issuedbooks:[],
        selecteduserfortransaction:undefined,
        dataSet: {
          eachCheckbox: [],
          search:'',
          showSearch:true,
          showImportExport:false,
          showaddnew: false,
          mainSidenav: true,
          settingsSidenav: false,
          showsecondnav: false,
          aboveWorkAreaMsg: false,
          loading:true,
          dummyRows: 10,
          heading1:'Book Return',
          path: '/isrt',
          tblHeadings: [
           'Title', 'ISBN',	'Issue date',	'Due date', '',	
          ],
        },
      }
    },
    created() {
      this.allLibraryUsers('/alllibraryusers');
    },
    watch: {
      'selecteduserfortransaction': function (value) {
            if (value != undefined) {
              this.getIssuedBooks(value)
            }
            else{
              this.issuedbooks=[]
            }
        }
    },

  }
</script>
