<template>
  <div>
    <div class='d-flex'>
      <sidenav :dataSet='dataSet'></sidenav>
      

      <main class='maindiv d-flex flexmaindiv flow-column'>
        <!-- Fixed header content================= -->
        <fixedheaders :dataSet='dataSet'></fixedheaders>
        <!-- Above work area======================= -->
        

        <!-- Work area============================== -->
        
        <div class="input-group mb-3 w600">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Select User</span>
          </div>
          <select class="form-control" v-model="selecteduserfortransaction">
            <option v-for='libraryuser in libraryusers' :key='libraryuser.id' :value='libraryuser.id'>{{libraryuser.name}}</option>
          </select>
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon1">Due date</span>
          </div>
         
            <datepicker pla ceholder="Due date" v-model="book_due_date" :bootstrap-styling="true"></datepicker>
        </div>
        <div :class="books.length<1?'nodataimage':null">
          <table v-show="books.length>0" class='table table-striped selectable'>
            <thead>
              <tr>
                <th v-for='(tableheading,index) in dataSet.tblHeadings' :key='index' v-html='tableheading'></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for='book in books' :key='book.id'>
                
                <td>{{book.title}}</td>
                <td>{{book.isbn}}</td>
                <td>{{book.shelf_no}}</td>
                <td>
                  <button v-if='!googleAuthStatus()' class="btn btn-info btn-sm" @click="handleAuthClick">Connect to google</button>
                  <input  v-if='googleAuthStatus()' type='button' class='btn btn-primary btn-sm' value='Issue' @click='issueBook(book.id,book.title,selecteduserfortransaction)'>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

<!-- pagination -->

      </main>
    </div>
  </div>
</template>
<script>
  export default {
    data: function () {
      return {
        selectAll:false,
        fetchedRows: [],
        libraryusers:[],
        books:[],
        selecteduserfortransaction:undefined,
        book_due_date:this.getDefaultDueDate(),
        dataSet: {
          eachCheckbox: [],
          search:'',
          showSearch:true,
          showImportExport:false,
          showaddnew: false,
          mainSidenav: true,
          settingsSidenav: false,
          showsecondnav: false,
          aboveWorkAreaMsg: false,
          loading:true,
          dummyRows: 10,
          heading1:'Book Issue',
          path: '/isrt',
          tblHeadings: [
           'Title', 'ISBN',	'Shelf no', '',	
          ],
        },
      }
    },
    created() {
      this.handleClientLoad();
      this.allLibraryUsers('/alllibraryusers');
    },

    methods: {
      issueBook(book_id,book_title,selecteduserfortransaction){
            this.$Progress.start();
            axios.post('/api' +'/issue-book/'+book_id+'/'+selecteduserfortransaction,{
              due_date: this.changeDateFormat(this.book_due_date, "Asia/Kolkata","YYYY-MM-DD"),
            })
                .then(({
                    data
                }) => {
                    
                    // this.selecteduserfortransaction = undefined;
                    toast.fire({
                        type: 'success',
                        title: 'Book issued',
                    })
                    this.$Progress.finish();
                    console.log(data)
                    this.setData(book_id,book_title,selecteduserfortransaction,data[1])
                })
                .catch((error) => {
                    this.$Progress.fail();
                    // this[errorStoringVar] = error;

                    if (error.response.status == 401) {
                        this.$router.push('/loginf');
                    } else {
                        new Swal({
                            type: 'error',
                            title: swalTitle,
                            text: error,
                            showCloseButton: true,
                            showConfirmButton: false,
                            footer: '<a href=' + issueReportinglink + '>Report this issue</a>'
                        })
                    }
                });
        },
        setData(book_id,book_title,selecteduserfortransaction,book_transaction_id) {
          
          var user_name = this.libraryusers.filter(function (entry) {
              return entry.id === selecteduserfortransaction;
          });
          console.log(user_name[0].name);
          // let vm = this;
          var events = {
            'summary': 'Book due date',
            'location': 'Delhi',
            'description': 'This is a due date for book '+ book_title +' by user '+ user_name[0].name,
            'start': {
              'date': this.changeDateFormat(this.book_due_date, "Asia/Kolkata","YYYY-MM-DD")
            },
            'end': {
              'date': this.changeDateFormat(this.book_due_date, "Asia/Kolkata","YYYY-MM-DD")
            },
            "extendedProperties": {
              "shared": {
                "user_id": user_name[0].id,
                "user_name": user_name[0].name,
                "book_id": book_id,
                "book_name": book_title,
                "book_transaction_id": book_transaction_id
              }
            }
          };
          gapi.client.calendar.events.insert({
            'calendarId': 'primary',
            'resource': events
          })
          .then(() => {
                  // alert('done')
          })
          .catch((error) => {
                console.log(error)
          });
        },

    },
    watch: {
      'selecteduserfortransaction': function (value) {
            if (value != undefined) {
              this.getBooksForIssue()
            }
            else{
              this.books=[]
            }
        }
    },

  }
</script>
