<template>
  <div class="field" :class="{ 'error': form.errors.has(idVal) }">

    <!-- if not looped - Normal ========================================================-->
    <div v-if="!isMultiRowLooped">
      <label :for="idVal" v-if="showlabel">
        {{label}}<span v-if="required" class="required_star">*</span>
      </label>
        <datetime :auto="true"  :type="type" :placeholder="label" :required="required" v-model="form[idVal]"></datetime>
      <has-error class="ui basic red pointing prompt label transition visible" :form="form" :field="idVal"></has-error>
    </div>

    <!-- if looped - Multiple rows table ============================================== -->
    <!-- <div v-else class="ui calendar datepicker">
      <label :for="idVal" v-if="showlabel">
        {{label}}<span v-if="required" class="required_star">*</span>
      </label>
        <input input-class="multitableinput" autocomplete="no" :required="required" v-model="loopVariable[idVal]" type="text" :name="idVal" :id="idVal" :placeholder="label">
      <has-error class="ui basic red pointing prompt label transition visible" :form="form" :field="idVal"></has-error>
    </div> -->

  </div>
</template>

<script>
  export default {
    props: ['idVal', 'label', 'type', 'required', 'form', 'showlabel','isMini','isMultiRowLooped','loopVariable'],
  }
</script>
