<template>
  <div class="field" :class="{ 'error': form.errors.has(idVal) }">

    <!-- if not looped - Normal ========================================================-->
    <div v-if="!isMultiRowLooped" >
      <label :for="idVal" v-if="showlabel">
        {{label}}<span v-if="required" class="required_star">*</span>
      </label>
    <!-- <select class="ui fluid search" :multiple="pillbox" :class="{dropdown_allowNewVal:allowNewVal, dropdown:!allowNewVal, mini:isMini}" v-model="form[idVal]" :name="idVal" :id="idVal">
        <option value="" v-if=!pillbox>Select</option>
        <option v-for="(eachEntry,index) in dataArray" :value="eachEntry[optionValKey]" :key='index'>{{leftlabel?leftlabeltext:''}} {{eachEntry[optionTextKey]}}</option>

      </select> -->
      <sui-dropdown fluid search :options="dataArray" placeholder="Select" selection v-model="form[idVal]" :multiple="pillbox" :allowAdditions="allowNewVal"/>

      <a v-if="isClick" href="javascript:void(0)" @click="$parent[clickname]" class="addnewlink">+ Add new</a>
      <has-error class="ui basic red pointing prompt label transition visible" :form="form" :field="idVal"></has-error>
    </div>

    <!-- if looped - Multiple rows table ============================================== -->
    <div v-else :class="{mini:isMini}" >
      <label :for="idVal" v-if="showlabel">
        {{label}}<span v-if="required" class="required_star">*</span>
      </label>
      <!-- <select class="multitableinput" :multiple="pillbox" :class="{dropdown_allowNewVal:allowNewVal, dropdown:!allowNewVal, dropdownaddnewbtn:showAddNew, mini:isMini}" v-model="loopVariable[idVal]" :name="idVal" :id="idVal" :required="required">
        <option value="">Select</option>
        <option v-for="(eachEntry,index) in dataArray" :value="eachEntry[optionValKey]" :key='index'>
          {{leftlabel?leftlabeltext:''}} {{eachEntry[optionTextKey]}}</option>
        <option v-if="showAddNew" value="addnew">+ Add new</option>
      </select> -->
      <sui-dropdown class="mini" fluid search :options="dataArray" placeholder="Select" selection v-model="loopVariable[idVal]" :closeOnBlur="true" :multiple="pillbox" :allowAdditions="allowNewVal"/>
      <a v-if="isClick" href="javascript:void(0)" @click="$parent[clickname]" class="addnewlink tiny" @keydown.enter.prevent=''>+ Add new</a>

      <has-error class="ui basic red pointing prompt label transition visible" :form="form" :field="idVal"></has-error>
    </div>


  </div>
</template>

<script>

  export default {
    props: ['idVal', 'label', 'required', 'form', 'dataArray', 'optionValKey', 'optionTextKey','pillbox','allowNewVal', 'showAddNew','showlabel','isMini','isMultiRowLooped','loopVariable','atchangefunc','isClick','clickname', 'leftlabel','leftlabeltext'],

  }
</script>
