<template>
  <div class="field" :class="{ 'error': form.errors.has(idVal) }">
    <!-- if not looped - Normal ========================================================-->
    <div v-if="!isMultiRowLooped">
      <label :for="idVal" v-if="showlabel">
        {{label}}
        <span v-if="required" class="required_star">*</span>
      </label>

      <div class="editorboxdiv">
        <VueTrix v-model="form[idVal]" :name="idVal" :id="idVal" :placeholder="label" localStorage/>
      </div>

      <has-error
        class="ui basic red pointing prompt label transition visible"
        :form="form"
        :field="idVal"
      ></has-error>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    "idVal",
    "label",
    "required",
    "form",
    "showlabel",
    "isMini",
    "isMultiRowLooped",
    "loopVariable"
  ]
};
</script>
