<template>
  <div class="field" :class="{ 'error': form.errors.has(idVal) }">
    <!-- if not looped - Normal ========================================================-->
    <div v-if="!isMultiRowLooped" :class="{mini:isMini}">
      <label :for="idVal" v-if="showlabel">
        {{label}}<span v-if="required" class="required_star">*</span>
      </label>
      <div class="ui input" :class="{mini:isMini}" >      
        <input type="number" :required="required" :min="minVal" :max="maxVal" :step="stepVal" v-model="form[idVal]" :name="idVal" :id="idVal" :placeholder="label">
      </div>      
      <has-error class="ui basic red pointing prompt label transition visible" :form="form" :field="idVal"></has-error>
    </div>

    <!-- if looped - Multiple rows table ============================================== -->
    <div v-else :class="{mini:isMini}">
      <label :for="idVal" v-if="showlabel">
        {{label}}<span v-if="required" class="required_star">*</span>
      </label>
      <div class="ui input" :class="{mini:isMini}" >
        <input autocomplete="no" type="number" :required="required" :min="minVal" :max="maxVal" :step="stepVal" v-model="loopVariable[idVal]" :name="idVal" :id="idVal" :placeholder="label">
      </div>
      <has-error class="ui basic red pointing prompt label transition visible" :form="form" :field="idVal"></has-error>      
    </div>

  </div>
</template>

<script>
  export default {
    props: ['idVal', 'label', 'required', 'form', 'showlabel','isMini','minVal','maxVal','stepVal','isMultiRowLooped','loopVariable'],
  }
</script>
