<template>
  <div>
    <div class="ui placeholder">
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>

    <div class="mt40 ui fluid placeholder">
      <div class="short line"></div>
      <div class="full line"></div>
      <div class="full line"></div>
      <div class="full line"></div>
      <div class="full line"></div>
      <div class="full line"></div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
