<template>
  <div class="fixedheader d-flex p10">
    <div class="flex_start">
      <h1>{{dataSet.heading1}}</h1>
      <router-link v-if="dataSet.showaddnew" class="btn btn-sm btn-primary addnewbutton" :to="dataSet.path + '/new'">
        <i class="fas fa-plus"></i> Add new
      </router-link>

    </div>
    
    <div class="mt5">

      <button v-show="dataSet.eachCheckbox.length>0" class="btn btn-sm btn-danger" @click="deleteListItems">
        Delete
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        filtername:'Apply filters',
        filterclass:'default',
        showClearCustomSearchFilter:false
      }
    },
    props: ['dataSet'],
    methods: {
      deleteListItems(){
        this.deleteSelected()
      },
      showImportModal(){
        $(".importmodal").modal('show')
      },
      showCustomFilterModal(){
        $(".vendorfiltermodal").modal('show');
      },
      // submitCustomFilter(){
      //   axios.get('/exportclients')
      //   .then((data)=>{
      //     console.log('Ok')
      //   })
      //   .catch((error)=>{
      //     console.log('Not ok')
      //   })
      // }
    },
  }
</script>
