<template>
  <nav class="sidenav">
    <div class="">

      <!-- Main nav============================ -->
      <ul v-if="dataSet.mainSidenav">

        <li class="">
          <router-link class="nav-link"  to="/">
            <i class="fas fa-users"></i>
            <span class="navtext">Users</span>
          </router-link>
        </li>
        <li class="">
          <router-link class="nav-link"  to="/books">
            <i class="fas fa-book"></i>
            <span class="navtext">Books</span>
          </router-link>
        </li>
        <li class="">
          <router-link class="nav-link"  to="/isrt/issue-book">
            <i class="fas fa-book-open"></i>
            <span class="navtext">Book Issue</span>
          </router-link>
        </li>
        <li class="">
          <router-link class="nav-link"  to="/isrt">
            <i class="fas fa-undo"></i>
            <span class="navtext">Book Return</span>
          </router-link>
        </li>
        <li class="">
          <router-link class="nav-link"  to="/isrt/transactions">
            <i class="fas fa-exchange-alt"></i>
            <span class="navtext">Issued Books</span>
          </router-link>
        </li>
        <li class="">
          <button v-if='!googleAuthStatus()' @click="handleAuthClick" class="btn btn-primary btn-sm ml-3">Connect to Google</button>
          <button v-if='googleAuthStatus()' @click="handleSignoutClick" class="btn btn-danger btn-sm ml-3">Disconnect Google</button>
          
        </li>
      </ul>
    </div>
  </nav>

</template>

<script>
export default {
  props: ['dataSet'],
  data: function () {
    return {
      msgsData:[],
      isDemo:false,
    }
  }

}
</script>
