<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <router-link to="/" class="navbar-brand">Library Management</router-link>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ml-auto">
        
        <li class="nav-item active ml-auto" v-if="!loggedIn" >
          <router-link to="/login" class="item">
            <i class="fas fa-sign-in-alt"></i> Login
          </router-link>
        </li>
        <li class="nav-item ml-auto" v-if="loggedIn">
          <router-link  to="/logout" class="item">
            <i class="fas fa-power-off"></i> Logout
          </router-link>
        </li>
      </ul>
    </div>
  </nav>
  
</template>

<script>
export default {
  props: ["dataSet"],
  data: function () {
    return {
      count: 0
    }
  },
  computed: {
    // loggedIn(){
    //   // true
    //   return this.$store.getters.loggedIn
    // }
  }
};
</script>
