<template>
  <div>
    <div class='d-flex'>
      <sidenav :dataSet='dataSet'></sidenav>
      

      <main class='maindiv d-flex flexmaindiv flow-column'>
        <!-- Fixed header content================= -->
        <fixedheaders :dataSet='dataSet'></fixedheaders>

        <!-- Work area============================== -->
        <table class='table table-striped selectable'>
          <thead>
            <tr>
              <th colspan='1'>
                <div class='ui checkbox' @click='toggleCheckbox'>
                    <input type='checkbox' v-model='selectAll'>
                    <label></label>
                </div>
              </th>
              <th v-for='(tableheading,index) in dataSet.tblHeadings' :key='index' v-html='tableheading'></th>
            </tr>
          </thead>

          <tabledummy v-if='dataSet.loading' :dataSet='dataSet'></tabledummy>

          <tbody>
            <tr v-for='fetchedRow in fetchedRows' :key='fetchedRow.id'>
              <td>
                <div class='ui checkbox'>
                  <input type='checkbox' :value='fetchedRow.id' v-model='dataSet.eachCheckbox'>
                  <label></label>
                </div>
              </td>
              <td>
                <router-link :to="dataSet.path+'/'+fetchedRow.id+'/edit'">
                  {{fetchedRow.name}}
                </router-link>
              </td>
              <td>{{fetchedRow.gender}}</td>
              <td>{{fetchedRow.email}}</td>
              <td>{{fetchedRow.primary_phone}}</td>
              <td>{{fetchedRow.city}}</td>
              <td>{{fetchedRow.street}}</td>
              
              <td>{{fetchedRow.created_at | myDate("Asia/Kolkata","MMM D, YYYY")}}</td>
            </tr>
          </tbody>
        </table>

<!-- pagination -->

      </main>
    </div>
  </div>
</template>
<script>
  export default {
    data: function () {
      return {
        selectAll:false,
        fetchedRows: [],
        profileData:[],
        dataSet: {
          eachCheckbox: [],
          search:'',
          showSearch:true,
          showImportExport:false,
          showaddnew: true,
          mainSidenav: true,
          settingsSidenav: false,
          showsecondnav: false,
          loading:true,
          dummyRows: 8,
          heading1:'Users',
          path: '/users',
          tblHeadings: [
           'Name', 'Gender',	'Email',	'Phone', 'City' , 'Street','Created at',	
          ],
        },
      }
    },
    mounted() {
      
      this.loadIndex(this.$route.query.page);
      Fire.$on('loadindex',()=>{
        this.loadIndex(this.$route.query.page)
        this.dataSet.eachCheckbox=[]
      })
    },
    created() {
      this.handleClientLoad();
    },

  }
</script>
