<template>

  <div>

    <div class='d-flex'>
      <sidenav :dataSet='dataSet'></sidenav>

      <secondnav v-if='dataSet.showsecondnav' :dataSet='dataSet'></secondnav>

      <main class='maindiv d-flex flexmaindiv flow-column'>
        <!-- Fixed header content================= -->
        <fixedheaders :dataSet='dataSet'></fixedheaders>

        <!-- Above work area======================= -->
        

        <form  class='' @submit.prevent='store'>
          <div class='w600'>

            <table class="table table-striped">
              <tr>
                <td>Name</td>
                <td><input type="text" v-model="form.name" class="form-control">
                    <span v-if="form.errors" class="text-danger">{{this.form.errors.errors.gender}}</span>
                </td>
              </tr>
              <tr>
                <td>Gender</td>
                <td>
                  <select class="form-control" v-model="form.gender">
                    <option value="">Select gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                  </select>
                  <span v-if="form.errors" class="text-danger">{{this.form.errors.errors.gender}}</span>

                </td>
              </tr>
              <tr>
                <td>Email address</td>
                <td><input type="email" v-model="form.email" class="form-control">
                    <span v-if="form.errors" class="text-danger">{{this.form.errors.errors.email}}</span>
                </td>
              </tr>
              <tr>
                <td>Primary Phone</td>
                <td><input type="text" v-model="form.primary_phone" class="form-control">
                      <span v-if="form.errors" class="text-danger">{{this.form.errors.errors.primary_phone}}</span>
                  </td>
              </tr>
              <tr>
                <td>Secondary Phone</td>
                <td><input type="text" v-model="form.secondary_phone" class="form-control"></td>
              </tr>
              <tr>
                <td>Address line 1</td>
                <td><input type="text" v-model="form.address_line1" class="form-control">
                    <span v-if="form.errors" class="text-danger">{{this.form.errors.errors.address_line1}}</span>
                </td>
              </tr>
              <tr>
                <td>Address line 2</td>
                <td><input type="text" v-model="form.address_line2" class="form-control"></td>
              </tr>
              <tr>
                <td>City</td>
                <td><input type="text" v-model="form.city" class="form-control">
                    <span v-if="form.errors" class="text-danger">{{this.form.errors.errors.city}}</span>
                </td>
              </tr>
              <tr>
                <td>Street</td>
                <td><input type="text" v-model="form.street" class="form-control">
                    <span v-if="form.errors" class="text-danger">{{this.form.errors.errors.street}}</span>
                </td>
              </tr>
              <tr>
                <td>Zip</td>
                <td><input type="text" v-model="form.zip" class="form-control">
                    <span v-if="form.errors" class="text-danger">{{this.form.errors.errors.zip}}</span>
                </td>
              </tr>
              <tr>
                <td>Country</td>
                <td><input type="text" v-model="form.country" class="form-control">
                    <span v-if="form.errors.errors" class="text-danger">{{this.form.errors.errors.country}}</span>
                </td>
              </tr>
            </table>

          </div>
          
          <div class='w600 mt10'>
            <button :disabled='form.busy' type='submit' class='btn btn-success'>Submit</button>
          </div>
        </form>

      </main>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      dataSet: {
        eachCheckbox: [],
        search:'',
        showaddnew: false,
        mainSidenav: true,
        loading:true,
        dummyRows: 10,
        heading1:'Add new User',
        path: '/users',
        toastMsg: 'User added successfully',
      },
      form: new Form({
        name:'',
        gender:'',
        email:'',
        primary_phone:'',
        secondary_phone:'',
        address_line1:'',
        address_line2:'',
        city:'',
        street:'',
        zip:'',
        country:'',
        // enquiry_date:this.phpDate(),
        // delivery_date:'',
      }),
    }
  },

  methods: {
    
  store(){
      this.customStore();
    }
  },
  created() {
    this.handleClientLoad();
  },
}
</script>
